html, body, #root {
    /* height: 100%; */
    margin: 0;
  }

#PageFooter {
    margin: 50px;
    padding: 50px;
}

#PageBody {
    height: 100%;
    background-color: #000;
    vertical-align: top;
}