html, body, #root {
    height: 100%;
    margin: 0;
  }

#PageFooter {
    margin: 50px;
    padding: 50px;
}

#PageBody {
    height: 100%;
    background-color: rgb(223, 221, 221);
    vertical-align: top;
}